/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/public/mix-manifest.json
/storage/*.key
/vendor
.phpunit.result.cache
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env
tags
.vim/
tests.log
/cypress/screenshots
/.nyc_output
/coverage
/cypress/downloads/

# SSH Configuration (personal keys and config)
~/.ssh/
.ssh/
